body, html { background:#EEE; color:#333; font-family:Arial; font-size:12px; height:100%; margin:0; padding:0; width:100%; }
#container { background:#FFF; margin:0 30px; min-height:100%; padding:40px; }
